@import "../../../../../styles/functions";
@import "../../../../../styles/variables";
@import "../../../../../styles/fonts";

.contentContainer {
  @include fluid("width", 100%, 100%, 560px, 600px, 680px, 780px);


  .title {
    color: $g-color6;
    margin: 0 0 4px;
  }

  .eventDescription {
    display: block;
    color: $g-color10;
    font-weight: 400;
    width: 100%;

  }

  .formContainer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;

    @include fluid("gap", 6px, 6px, 8px, 10px, 10px, 12px);

    .input {
      &.eventName {
        @include fluid("width", calc(100% - 166px), calc(100% - 166px), calc(100% - 168px), calc(100% - 170px), calc(100% - 170px), calc(100% - 172px));
      }

      &.privacy, &.repeat {
        width: 150px;
        height: 60px;

        @include fluid("width", 134px, 134px, 132px, 130px, 130px, 125px);

        @include fluid("margin-top", 6px, 6px, 8px, 10px, 10px, 25px);
        @include fluid("padding-left", 6px, 6px, 8px, 10px, 10px, 25px);
      }
    }


    .durationPanel {
      width: 100%;
      display: flex;

      align-items: center;

      @include fluid("gap", 8px, 12px, 12px, 15px, 20px, 20px);

      .repeat {
        margin-top: 0;
        padding-left: 0;
      }
    }
  }
}