$g-color1 : #fff;
$g-color2 : #000;
$g-color3 : #616161;
$g-color4 : #454ADE;
$g-color5 : #FF5964;
$g-color6 : #e04848;
$g-color7 : #B3B3B3;
$g-color8 : #9E373E;
$g-color9 : #f5babf;
$g-color10 : #acacac;
$g-color11 : #129a00;
$g-color12 : #fff500;

$bg-color10 : rgba(255, 89, 100, 0.07);


$mobile: 540px;
$mobileLarge: 720px;
$tablet: 960px;
$tabletLarge: 1024px;
$desktop: 1440px;
$desktopLarge: 1920px;

:root {
  --g-color1: #fff;
  --g-color2: #000;
  --g-color3: #616161;
  --g-color4: #454ADE;
  --g-color5: #FF5964;
  --g-color6: #e04848;
  --g-color7: #B3B3B3;
  --g-color8: #9E373E;

  --mobile: 540px;
  --mobileLarge: 720px;
  --tablet: 960px;
  --tabletLarge: 1024px;
  --desktop: 1440px;
  --desktopLarge: 1920px;
}