@import "../../../../../styles/variables";
@import "../../../../../styles/functions";
@import "../../../../../styles/fonts";

.page {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;

  .previewSection {
    flex: 1;
    position: relative;
    height: 100vh;
    overflow: visible;
    left: -35vh;

    @include tablet-large {
      display: none;
    }

    @include desktop {
      left: -40vh;

      @include min-height(600) {
        display: none;
      }
    }

    .layer {
      position: absolute;
      height: 120vh;
      width: 120vh;
      border-radius: 50%;
      overflow: hidden;
      top: -10vh;
      transition: transform 0.6s, left 0.4s, margin-top 0.4s, margin-bottom 0.4s, height 0.6s;

      @include desktop {
        height: 110vh;
        width: 110vh;
      }

      .content {
        height: 100%;
        width: 100%;
        position: absolute;
        border: 1px solid black;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &.prev {
        transform: translateX(-100%);
      }

      &.next {
        transform: translateX(0);
      }

      .nextButton, .prevButton {
        border-radius: 50%;
        position: absolute;
        border: none;
        color: $g-color1;
        height: 45px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        .icon{
          pointer-events: none;
          height:22px;
          width:13px;
        }
      }

      .nextButton {
        right :8px;
      }

      .prevButton {
        transform: translate(35vh,0);
        .icon{
          transform: rotate(180deg);
        }
      }
    }

    @include tablet {
      display: none;
    }
  }

  .afterForm {
    width: 100%;

    @include fluid(margin-top, 20px, 20px, 25px, 30px, 35px, 35px);

    .signUpLabel {
      color: $g-color5;
    }
  }

  .formSectionContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    flex: 1;
    transition: margin-top 0.5s ease-in-out;




    @include desktop-large {
      margin-left: 120px;
    }

    @include desktop {
      @include min-height(600) {
        margin-left: 0;
      }
    }

    @include tablet {
      margin-left: 0;
    }

    .formSection,.confirmSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height:100vh;

      @include fluid(width, 422px, 422px, 422px, 425px, 425px, 470px);

      @include mobile-large {
        width: calc(100% - 80px);
      }
      @include mobile-large {
        width: calc(100% - 40px);
      }

      .formTitle {
        margin: 0;
        display: block;
        color: $g-color5;

        @include fluid(margin-bottom, 8px, 10px, 12px, 12px, 14px, 14px);
      }

      .formDescription {
        margin: 0;
        display: block;
        color: $g-color5;

        @include fluid(margin-bottom, 8px, 12px, 12px, 16px, 20px, 20px);
      }
    }

    &.openConfirm{
      margin-top: -100vh;
    }

    &.openRegistration{
    }
  }

  .bottomLogo {
    position: absolute;
    z-index: 200;

    @include fluid(bottom,  calc(100% - 50px), calc(100% - 50px), 25px, 30px, 50px, 60px);
    @include fluid(left, 20px, 25px, 35px, 45px, 50px, 60px);

    svg {
      color: $g-color1;

      @include tablet {
        color: $g-color5;
      }

      @include fluid(height, 35px, 35px, 35px, 40px, 40px, 45px);
      @include fluid(width, 140px, 150px, 160px, 200px, 200px, 240px);
    }
  }
}

