@font-face {
  font-family: 'MontserratArm';
  src: url('/fonts/MontserratArm/Montserratarm-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratArm';
  src: url('/fonts/MontserratArm/Montserratarm-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratArm';
  src: url('/fonts/MontserratArm/Montserratarm-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratArm';
  src: url('/fonts/MontserratArm/Montserratarm-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratArm';
  src: url('/fonts/MontserratArm/Montserratarm-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratArm';
  src: url('/fonts/MontserratArm/Montserratarm-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratArm';
  src: url('/fonts/MontserratArm/Montserratarm-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratArm';
  src: url('/fonts/MontserratArm/Montserratarm-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratArm';
  src: url('/fonts/MontserratArm/Montserratarm-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}


body {
  font-family: 'MontserratArm', sans-serif;
  margin: 0;
}
