@import "../../../../styles/variables";

.buttonContainer {

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    width: auto; // Default to auto width

    &.primary {
      background-color: $g-color2;
      color: $g-color1;
    }

    &.secondary {
      background-color: transparent;
      color: $g-color2;
      text-decoration: underline;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .shadow {

  }
}
