@import "../../../../styles/variables";

.eventsPage {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    margin: 0;
    font-size: 20px;
    color: $g-color17;
  }

  p {
    margin: 10px 0 0;
    color: $g-color3;
  }
}
