@import "../../../styles/variables";

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: $g-color1;
  border-radius: 8px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  font-size: 16px;
  color: $g-color2;
  outline: none;
  box-shadow: none;
  border: 1px solid $g-color7;

  &:last-child{
    margin-bottom: 40px;
  }

  &::placeholder {
    color: $g-color7;
  }

  &:focus {
    border-color: $g-color3;
  }


}

.submitContainer{
  margin-top: 10px;
  width: 100%;

  display: flex;
  justify-content: center;

}
