@import "../../../../../styles/variables";
@import "../../../../../styles/fonts";

.inputField {
  width: 100%;

  .fieldLabel {
    color: $g-color8;
    display: block;
    margin-bottom: 8px;

    @include mobile-large {
      margin-bottom: 6px;
    }
  }

  .inputContainer {
    width: 100%;
    border-radius: 6px;
    color: $g-color2;
    outline: none;
    box-shadow: none;
    position: relative;

    &.casual {
      border: 1px solid $g-color2;

      &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 3px;
        width: 100%;
        height: 100%;
        background-color: var(--shadow-color, #9E373E);
        border-radius: 10px;
        z-index: -1;
        transition: top 0.2s, left 0.2s;
      }
    }

    .input {
      border-radius: 6px;
      border: 1px solid $g-color7;
      padding: 20px 12px;
      width: calc(100% - 26px);
      font-size: 18px;
      background-color: $g-color1;
      transition: border-color 0.3s, box-shadow 0.3s;

      @include mobile-large {
        font-size: 16px;
        padding: 14px 10px;
        width: calc(100% - 22px);
      }

      &::placeholder {
        color: $g-color7;
      }

      &:hover, &:focus, &:active {
        border-color: $g-color2;
        box-shadow: 0 0 5px rgba($g-color2, 0.5);
        outline: none;
      }
    }

    &.casual .input {
      &:hover, &:focus, &:active {
        border-color: $g-color8;
      }
    }

    &.hasAction .input {
      padding-right: 54px;
      width: calc(100% - 68px);
    }

    &.casual:hover::after,
    &.casual:focus-within::after {
      top: 7px;
      left: 6px;
    }

    .visibilityAction,
    .fieldAction {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(0, -50%);

      .iconButton {
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
          opacity: 0.45;
        }

        .icon {
          width: 24px;
          max-height: 21.5px;
          color: $g-color2;
          transition: color 0.3s;

          &.shown {
            color: $g-color8;
          }
        }
      }
    }
  }
}
